<div class="layout-main-container align-items-center">
  <div class="card pt-4 col-12 xl:col-8">
    <div class="flex align-items-center pb-4">
      <p-button icon="pi pi-arrow-left" (click)="backClicked()" [text]="true" severity="secondary" styleClass="p-2"
        size="small" pTooltip="Return" tooltipPosition="left" [showDelay]="1000" tooltipStyleClass="text-sm"></p-button>
      <span class="text-900 font-bold text-xl ml-2">{{ title }}</span>
    </div>

    <div class="grid flex-wrap gap-3 p-fluid">
      <div class="col-12 lg:col-8">
        <div class="grid formgrid">

          <div class="col-12 field">
            <label for="name" class="font-medium text-900">Title</label>
            <input id="name" pInputText placeholder="Smart watch" [(ngModel)]="product.title" type="text"
              name="title" />
          </div>

          <div class="col-12 sm:col-6 lg:col-4 field">
            <label for="price">Price</label>
            <p-inputNumber id="price" [(ngModel)]="product.price" inputId="stacked" placeholder="0,00" mode="currency"
              currency="USD" locale="en-US"></p-inputNumber>
          </div>

          <div class="col-12 sm:col-6 lg:col-4 field">
            <label for="quantity">Quantity in Stock</label>
            <p-inputNumber id="quantity" [(ngModel)]="product.quantity" [min]="0" [useGrouping]="false"
              [showButtons]="true"
              buttonLayout="horizontal"
              spinnerMode="horizontal"
              inputId="horizontal"
              decrementButtonIcon="pi pi-minus"
              decrementButtonClass="p-button-outlined p-button-secondary"
              incrementButtonIcon="pi pi-plus"
              incrementButtonClass="p-button-outlined p-button-secondary">
            </p-inputNumber>
          </div>

          <div class="col-12 lg:col-4 field">
            <label for="code">Product Code</label>
            <input id="code" [(ngModel)]="product.code" pInputText />
          </div>

          <div class="field col-12">
            <label for="description">Description</label>
            <textarea id="description" [(ngModel)]="product.description" rows="5" cols="12" pInputTextarea
              [autoResize]="true"></textarea>
          </div>

          <div class="field col-12">
            <p-fieldset styleClass="p-0" legend="Media">
              <div *ngIf="product.imageUrl">
                <img *ngIf="product.imageUrl" class="shadow-3 border-round pb-0" [src]="getImageUrl(product.imageUrl)" alt="{{ product.title }}"
                  style="max-width: 200px; max-height: 200px; margin-top: 5px; margin-bottom: 15px;">
              </div>
              <span>{{ product.imageUrl }}</span>
              <p-fileUpload
                mode="basic"
                chooseLabel="Choose"
                chooseIcon="pi pi-upload"
                name="demo[]"
                accept="image/*"
                [maxFileSize]="1000000"
                (onSelect)="onFileSelected($event)"
                styleClass="mt-5"></p-fileUpload>
            </p-fieldset>
          </div>

        </div>
      </div>

      <div class="flex-1 w-full flex flex-column gap-3">
        <p-fieldset styleClass="p-0" legend="Status">
          <p-dropdown id="status" [options]="status" [(ngModel)]="selectedStatus" optionLabel="name"></p-dropdown>
        </p-fieldset>

        <p-fieldset styleClass="p-0" legend="Category">
          <p-dropdown id="category" [options]="category" [showClear]="true" [(ngModel)]="selectedCategory"
            optionLabel="name"></p-dropdown>
        </p-fieldset>
      </div>
    </div>

    <div class="grid flex-wrap pt-6 lg:justify-content-end lg:pl-6">
      <div class="col-6 lg:col-2 px-1 p-0">
        <p-toast></p-toast>
        <p-confirmDialog></p-confirmDialog>
        <p-button *ngIf="isEditMode" (click)="discard($event)" class="p-fluid" label="Delete" icon="pi pi-trash" [outlined]="true"
          severity="danger" size="small"></p-button>
      </div>
      <div class="col-6 lg:col-2 p-0">
        <p-button (click)="saveProduct()" class="p-fluid" label="Save" icon="pi pi-check" size="small"></p-button>
      </div>
    </div>
  </div>
</div>
