  <div class="flex bg-orange-400 w-full h-2rem align-content-center justify-content-center animate__animated animate__fadeInDown animate__delay-1s fixed z-5">
    <span class="text-md text-white mt-1">
      <span class="text-md font-bold">AVISO:</span> No momento estamos entregando somente em <span class="text-md font-bold">Caxias do Sul e região.</span>
    </span>
  </div>

  <div class="overlay animate__animated animate__fadeIn" (click)="toggleCartMenu()"></div>

  <div class="flex fixed-logo animate__animated animate__fadeInUp animate__delay-2s" style="margin-left: 12rem">
    <div class="flex align-items-center animate__animated" data-animation="animate-fadeInRight" routerLink="/inicio">
      <img src="/assets/bytewave.png" height="15" class="select-none" />
    </div>
  </div>

  <div class="flex fixed-menu" style="margin-right: 10rem">
    <div class="p-2 px-3 m-1 border-none animate__animated animate__fadeInRight animate__delay-2s">
      <div class="flex animate__animated cursor-pointer" data-animation="animate-fadeInLeft" routerLink="/inicio">
          <span class="text-gray-900 font-bold">Inicio</span>
      </div>
    </div>
    <div class="p-2 px-3 m-1 border-none animate__animated animate__fadeInRight animate__delay-2s">
      <div class="flex animate__animated cursor-pointer" data-animation="animate-fadeInLeft" routerLink="/ignite">
          <span class="text-gray-900 font-bold">Ignite</span>
      </div>
    </div>
    <div class="p-2 px-3 m-1 border-none animate__animated animate__fadeInRight animate__delay-2s">
      <div class="flex animate__animated cursor-pointer" data-animation="animate-fadeInLeft">
          <span class="text-gray-900 font-bold">Elfbar</span>
      </div>
    </div>
    <div class="p-2 px-3 m-1 border-none animate__animated animate__fadeInRight animate__delay-2s">
      <div class="flex animate__animated cursor-pointer" data-animation="animate-fadeInLeft">
          <span class="text-gray-900 font-bold">Oxbar</span>
      </div>
    </div>
    <div class="p-2 px-3 m-1 border-none animate__animated animate__fadeInRight animate__delay-2s">
      <div class="flex animate__animated cursor-pointer" data-animation="animate-fadeInLeft">
          <span class="text-gray-900 font-bold">Lost Mary</span>
      </div>
    </div>

    <p-button icon="icon-list" severity="warning" class="fixed-menu-button animate__animated"
      data-animation="animate-fadeInRight2" iconPos="right" [raised]="true" size="small" (click)="toggleSubMenu()">
    </p-button>

    <p-card class="fixed-sub-menu pt-0 animate__animated animate__fadeIn" [style]="{ width: '10rem' }">
      <div class="flex grid col-12 flex-column" style="margin-top: -1.5rem; margin-bottom: -1.5rem;">
        <div class="flex col-12 cursor-pointer" routerLink="/inicio">
            <span class="text-bluegray-900 font-bold">Todos</span>
        </div>
        <div class="flex col-12 cursor-pointer" routerLink="/ignite">
            <span class="text-bluegray-900 font-bold">Ignite</span>
        </div>
        <div class="flex col-12 cursor-pointer" routerLink="/inicio">
            <span class="text-bluegray-900 font-bold">Elfbar</span>
        </div>
        <div class="flex col-12 cursor-pointer" routerLink="/inicio">
            <span class="text-bluegray-900 font-bold">Oxbar</span>
        </div>
        <div class="flex col-12 cursor-pointer" routerLink="/inicio">
            <span class="text-bluegray-900 font-bold">Lost Mary</span>
        </div>
      </div>
    </p-card>

    <p-button icon="icon-shopping-cart" severity="success" class="fixed-cart-button animate__animated animate__fadeIn animate__delay-1s"
      iconPos="right" [raised]="true" size="small" (click)="toggleCartMenu()">
    </p-button>

    <div class="fixed-cart-menu">
      <p-card header="Carrinho" [style]="{ width: '40rem', padding:'1rem' }">
        <div class="flex grid" style="min-height: 10rem; max-height: 40rem;">
          <div *ngFor="let item of cartItems" class="flex grid col-12 h-4rem mt-2 align-items-center">
            <div class="flex col-1 justify-content-center">
              <img [src]="item.img" height="40" class="select-none" />
            </div>
            <div class="flex col-5">
              <span class="text-md mr-2">
                {{ item.modelo }} - {{ item.sabor }}
              </span>
            </div>
            <div class="flex col-2">
              <span class="text-md font-bold mr-2">
                {{ item.preco*item.quantity | currency:'BRL' }}
              </span>
            </div>
            <div class="flex col-3 justify-content-center">
              <p-inputNumber styleClass="inputOnDataTable"
                [min]="0"
                [max]="item.max"
                [(ngModel)]="item.quantity"
                [style]="{'width': '9rem'}"
                [showButtons]="true"
                buttonLayout="horizontal"
                decrementButtonClass="p-button-secondary2"
                incrementButtonClass="p-button-secondary2"
                incrementButtonIcon="pi pi-plus text-sm"
                decrementButtonIcon="pi pi-minus text-sm" />
            </div>
            <div class="flex col-1 justify-content-center">
              <p-button icon="icon-trash" [link]="true" (click)="removeItem(item)" />
            </div>
          </div>
        </div>
        <ng-template pTemplate="footer">
          <div class="flex mb-4 justify-content-between text-right px-3">
            <span class="text-xl  mr-2">
              Total
            </span>
            <span class="text-xl font-bold mr-2">
              {{ getTotal() | currency:'BRL' }}
            </span>
          </div>
          <div class="flex p-fluid">
            <p-button label="Finalizar Compra" severity="success" class="w-full" styleClass="w-full" routerLink="/checkout" />
          </div>
        </ng-template>
      </p-card>
    </div>
</div>
