<div class="layout-main-container flex">
  <div class="flex justify-content-between px-1">
    <div class="flex">
      <app-titlebar [title]="'Users'" [divider]="false" class="col-6"></app-titlebar>
    </div>
    <div class="flex sm:gap-2">
      <p-button label="Add User" icon="pi pi-plus" iconPos="right" [raised]="true" size="small" routerLink="new">
      </p-button>
    </div>
  </div>
  <p-divider class="col-12 pt-0"></p-divider>

  <p-table #dt [value]="users" [rows]="25" [paginator]="true" [globalFilterFields]="['userName', 'email', 'role']"
    [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 25, 50, 100]" class="fadein animation-duration-500">

    <ng-template pTemplate="caption">
      <div class="flex-column justify-content-between align-items-center">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search" />
        </span>
        <div class="mt-3">
          <span class="text-md">{{ users.length }}</span>&nbsp;
          <span class="font-normal">Total users</span>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="userName">Username<p-sortIcon field="userName"></p-sortIcon></th>
        <th pSortableColumn="email">Email<p-sortIcon field="email"></p-sortIcon></th>
        <th pSortableColumn="role">Role<p-sortIcon field="role"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr (click)="editUser(user)" class="cursor-pointer">
        <td>{{ user.userName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
