<div class="layout-main-container flex">
  <!--? Logo -->
  <div class="flex grid col-12 justify-content-center">
    <div class="flex pb-0 col-12 justify-content-center animate__animated animate__fadeIn animate__delay-1s">
      <img src="/assets/ignitelogo.png" height="200" class="select-none" />
    </div>
    <div class="flex pt-0 col-12 justify-content-center animate__animated animate__fadeIn animate__delay-1s">
      <img src="/assets/ignitelogo2.png" height="30" class="select-none" />
    </div>
  </div>

  <!--? Linha 1 -->
  <div class="flex grid col-12 justify-content-center px-0 pt-8 animate__animated animate__fadeIn animate__delay-2s">
    <!--! V150-->
    <div class="flex grid col-1"></div>
    <div class="flex grid col-3 align-content-center justify-content-center text-center md:text-right">
      <div class="flex col-12 flex-column">
        <div class="animate__animated">
          <span class="text-7xl font-bold text-gray-900">IGNITE V150</span>
        </div>
        <div class="animate__animated">
          <span class="text-5xl font-light text-gray-900">15000 puffs</span>
        </div>
        <div class="animate__animated pt-5">
          <span class="text-1xl font-light text-green-500">R$</span>
          <span class="text-6xl font-bold text-green-500">189,90</span>
        </div>
        <div class="mt-5 animate__animated">
          <p-button label="Escolher Sabores" iconPos="right" severity="secondary" [raised]="true"></p-button>
        </div>
      </div>
    </div>
    <!--! Imagem-->
    <div class="flex grid col-3 align-items-center justify-content-center">
      <img src="/assets/icymint.png" height="350" class="select-none" />
    </div>
    <!--! Video-->
    <div class="flex grid col-4 align-content-center justify-content-end text-right">
      <div class="flex card col-12 h-22rem flex-column justify-content-start">
        <video class="video-card" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" style="left: -12%; width: 120%">
          <source src="/assets/v150.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>

  <!--? Linha 2 -->
  <div class="flex grid col-12 justify-content-center px-0 pt-2 animate__animated animate__fadeIn animate__delay-2s">
    <!--! Imagem-->
    <div class="flex grid col-3 align-items-center justify-content-center">
      <img src="/assets/v80.png" height="350" class="select-none" />
    </div>
    <!--! Texto -->
    <div class="flex grid col-3 align-content-center justify-content-center text-center md:text-right">
      <div class="flex col-12 flex-column">
        <div class="animate__animated">
          <span class="text-7xl font-bold text-gray-900">IGNITE V80</span>
        </div>
        <div class="animate__animated">
          <span class="text-5xl font-light text-gray-900">8000 puffs</span>
        </div>
        <div class="animate__animated pt-5">
          <span class="text-1xl font-light text-green-500">R$</span>
          <span class="text-6xl font-bold text-green-500">109,90</span>
        </div>
        <div class="mt-5 animate__animated">
          <p-button label="Escolher Sabores" iconPos="right" severity="secondary" [raised]="true"></p-button>
        </div>
      </div>
    </div>
    <!--! Video -->
    <div class="flex grid col-2 pr-2 md:pr-5 align-content-center justify-content-center md:justify-content-end">
      <div class="flex card col-9 h-20rem ">
        <video class="video-card" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" style="width: 110%;">
          <source src="/assets/v80.mp4" type="video/mp4">
        </video>
      </div>
    </div>

    <!--! Texto -->
    <div class="flex grid col-2 align-content-evenly justify-content-center">
      <div class="flex col-12 flex-column justify-content-center text-left animate__animated animate__fadeInDown animate__delay-3s">
        <span class="text-2xl font-normal text-gray-900">A MARCA</span>
        <span class="text-4xl font-bold text-green-500">DESEJADA</span>
        <span class="text-2xl font-normal text-gray-900">POR</span>
        <span class="text-2xl font-normal text-gray-900">TODOS</span>
      </div>
      <div class="flex col-12 mt-2 flex-column justify-content-center text-left animate__animated animate__fadeInUp animate__delay-4s">
        <span class="text-2xl font-normal text-gray-900">A ESCOLHA</span>
        <span class="text-4xl font-bold text-green-500">PERFEITA</span>
        <span class="text-2xl font-normal text-gray-900">PARA VOCÊ</span>
      </div>
    </div>
  </div>

  <!--? Hero 1 -->
  <div class="flex grid col-12 mt-2 justify-content-around animate__animated z-0" data-animation="animate-fadeInDown">
    <!--! Col 1 --->
    <div class="flex card grid col-2 h-28rem w-21rem align-content-between">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/v50.png" height="200" class="select-none" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-8 cursor-pointer">
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">IGNITE V50</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">5000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start align-items-end">
            <span class="text-sm font-light text-green-500 align-self-end">
              R$<span class="text-xl font-bold text-green-500 align-self-end">89,90</span>
            </span>
          </div>
        </div>
        <div class="flex col-2">
          <p-button icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true"></p-button>
        </div>
      </div>

    </div>
    <!--! Col 2 --->
    <div class="flex card grid col-2 h-28rem align-content-between" style="width: 43.1rem;">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/5v150.png" height="220" class="select-none" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-6 cursor-pointer">
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">IGNITE V150 5 PACK</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">15000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start align-items-end">
            <span class="text-sm font-light text-green-500 align-self-end">
              R$<span class="text-xl font-bold text-green-500 align-self-end">879,90</span>
            </span>
          </div>
        </div>
        <div class="flex col-2 justify-content-end">
          <p-button icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true"></p-button>
        </div>
      </div>
    </div>
    <!--! Col 2 --->
    <div class="flex card grid col-2 h-28rem align-content-between" style="width: 43.1rem;">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/5v80.png" height="220" class="select-none" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-6 cursor-pointer">
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">IGNITE V80 5 PACK</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">8000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start align-items-end">
            <span class="text-sm font-light text-green-500 align-self-end">
              R$<span class="text-xl font-bold text-green-500 align-self-end">489,90</span>
            </span>
          </div>
        </div>
        <div class="flex col-2 justify-content-end">
          <p-button icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
