<div class="layout-main-container flex">
  <!--? Logo -->
  <div class="flex grid col-12 justify-content-center mt-5">
    <div class="flex pb-0 col-12 justify-content-center animate__animated animate__fadeIn">
      <img src="/assets/ignitelogo.png" height="200" class="select-none" />
    </div>
    <div class="flex pt-0 col-12 justify-content-center animate__animated animate__fadeIn">
      <img src="/assets/ignitelogo2.png" height="26" class="select-none" />
    </div>
  </div>

  <!--? Destaques1 -->
  <div class="flex grid px-0 pt-5 mb-5 animate__animated animate__fadeIn">
    <!--! V80--->
    <div class="flex grid col-4 align-items-center justify-content-center text-left">
      <div class="flex col-6 justify-content-start animate__animated" data-animation="animate-fadeInUp">
        <img src="/assets/V80.png" height="280" class="select-none" />
      </div>
      <div class="flex col-6 flex-column">
        <div class="animate__animated" data-animation="animate-fadeInUp">
          <span class="text-5xl font-bold text-gray-900">IGNITE V80</span>
        </div>
        <div class="animate__animated" data-animation="animate-fadeInLeft">
          <span class="text-4xl font-light text-gray-900">8000 puffs</span>
        </div>
        <div class="animate__animated pt-4" data-animation="animate-fadeInLeft">
          <span class="text-1xl font-light text-green-500">R$</span>
          <span class="text-4xl font-bold text-green-500">109,90</span>
        </div>
        <div class="mt-5 animate__animated" data-animation="animate-fadeIn">
          <p-button label="Escolher Sabores" iconPos="right" severity="secondary" [raised]="true"></p-button>
        </div>
      </div>
    </div>
    <!--! V150-->
    <div class="flex grid col-4 align-items-center justify-content-center text-left" style="opacity: 0.6;">
      <div class="flex col-6 justify-content-start animate__animated" data-animation="animate-fadeInUp">
        <img src="/assets/v150.png" height="280" class="select-none" />
      </div>
      <div class="flex col-6 flex-column">
        <div class="animate__animated" data-animation="animate-fadeInUp">
          <span class="text-5xl font-bold text-gray-900">IGNITE V150</span>
        </div>
        <div class="animate__animated" data-animation="animate-fadeInLeft">
          <span class="text-4xl font-light text-gray-900">15000 puffs</span>
        </div>
        <div class="animate__animated pt-4" data-animation="animate-fadeInLeft">
          <span class="text-1xl font-light text-gray-500">R$</span>
          <span class="text-4xl font-bold text-gray-500">159,90</span>
        </div>
        <div class="mt-5 animate__animated" data-animation="animate-fadeIn">
          <p-button label="Esgotado" iconPos="right" severity="secondary" [disabled]="true" [raised]="true"></p-button>
        </div>
      </div>
    </div>
    <p-divider class="flex col-12"></p-divider>
  </div>

  <!--? Banner Promo -->
  <div class="flex grid col-12">
    <div class="flex card grid col-12 p-0" style="height: 17rem">
      <img src="/assets/bannerdesconto.png" height="100%"/>
    </div>
  </div>

</div>
