<div class="flex align-items-center">
  <div class="flex justify-content-center col-2">
    <img src="{{img}}" height="50" class="select-none" />
  </div>
  <div class="flex flex-column justify-content-center col-6">
    <span class="text-md font-semibold text-gray-800 mr-1">
      {{sabor}}
    </span>
    <span class="text-sm font-normal text-green-500" *ngIf="favorito">
      Recomendado
    </span>
  </div>
  <p-inputNumber styleClass="inputOnDataTable"
    [min]="0"
    [(ngModel)]="value"
    [style]="{'width': '9rem'}"
    [showButtons]="true"
    buttonLayout="horizontal"
    decrementButtonClass="p-button-secondary"
    incrementButtonClass="p-button-secondary"
    incrementButtonIcon="pi pi-plus text-sm"
    decrementButtonIcon="pi pi-minus text-sm" />
</div>
<p-divider></p-divider>
