<div class="layout-main-container align-items-center">
  <div class="card pt-4 col-12 md:col-8 xl:col-6">
    <div class="flex pb-4">
      <p-button icon="pi pi-arrow-left" (click)="backClicked()" [text]="true" severity="secondary" size="small"
        pTooltip="Return" tooltipPosition="left" [showDelay]="1000" tooltipStyleClass="text-sm"></p-button>
      <span class="text-900 font-bold text-xl ml-2 mt-2">{{ title }}</span>
    </div>

    <div class="grid flex-wrap gap-3 p-fluid">
      <div class="col-12">
        <div class="grid formgrid">
          <div class="col-12 field">
            <label for="username" class="font-medium text-900">Username</label>
            <input id="username" pInputText type="text" [(ngModel)]="newUser.userName" required
              [ngClass]="{'ng-invalid': existingUserError, 'ng-dirty': existingUserError}"
              (blur)="checkUserExists(newUser.userName)" />
            <div *ngIf="existingUserError" class="text-red-600">Username already exists</div>
          </div>
          <div class="col-12 field">
            <label for="email" class="font-medium text-900">Email</label>
            <input id="email" pInputText type="email" [(ngModel)]="newUser.email" required
              [ngClass]="{'ng-invalid': emailInvalid, 'ng-dirty': emailInvalid}" (blur)="validateEmail()" />
            <div *ngIf="emailInvalid" class="text-red-600">Invalid email format</div>
          </div>
          <div class="col-12 xl:col-5 field">
            <p-fieldset styleClass="p-0" legend="Role">
              <div class="flex flex-wrap gap-6">
                <div *ngFor="let role of roles" class="field-checkbox">
                  <p-radioButton [inputId]="role.key" name="role" [value]="role.key" [(ngModel)]="selectedRole" />
                  <label [for]="role.key" class="ml-2">
                    {{ role.name }}
                  </label>
                </div>
              </div>
            </p-fieldset>
            <div *ngIf="roleError" class="text-red-600 mt-1">Role must be selected</div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid flex-wrap pt-6 xl:justify-content-end xl:pl-6">
      <div class="col-6 xl:col-3 px-1 p-0">
        <p-toast></p-toast>
        <p-confirmDialog></p-confirmDialog>
        <p-button *ngIf="isEditMode" (click)="discard($event)" class="p-fluid" label="Delete" icon="pi pi-trash"
          [outlined]="true" severity="danger" size="small"></p-button>
      </div>
      <div class="col-6 xl:col-3 p-0">
        <p-button (click)="saveUser()" class="p-fluid" label="Save" icon="pi pi-check" size="small"></p-button>
      </div>
    </div>
  </div>
</div>
