<!--! Banner -->
<div class="flex">
  <!--? Texto -->
  <div class="absolute right-0" style="margin-right: 20rem; top: 40%;">
    <span class="text-5xl font-normal text-gray-900 animate__animated animate__fadeIn animate__delay-1s">
      A MELHOR
    </span>
    <span class="text-5xl font-bold text-gray-900 animate__animated animate__fadeIn animate__delay-2s">
      EXPERIÊNCIA <br>
    </span>
    <span class="text-5xl font-normal text-gray-900 animate__animated animate__fadeIn animate__delay-3s">
      E
    </span>
    <span class="text-5xl font-bold text-gray-900 animate__animated animate__fadeIn animate__delay-3s">
      MENORES
    </span>
    <span class="text-5xl font-bold text-gray-900 animate__animated animate__fadeIn animate__delay-4s">
      PREÇOS.
    </span>
    <div class="flex mt-6 align-items-center">
      <img src="/assets/bytewave.png" height="15" class="select-none animate__animated animate__fadeInUp animate__delay-4s" />
    </div>
  </div>
  <!--? Fundo -->
  <div class="video-box">
    <video muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" width="100%">
        <source src="/assets/start.mp4" type="video/mp4">
    </video>
  </div>
  <!--? Seta -->
  <div class="fixed-roll animate__animated animate__fadeInDown animate__delay-4s">
    <div class="animate__animated" data-animation="animate-fadeInUp2">
      <p-button icon="icon-chevron-down" class="animate__animated" [disabled]="true" [link]="true" />
    </div>
  </div>
</div>

<!--! MAIN -->
<div class="layout-main-container flex">
  <!--? DialogSabor -->
  <p-dialog header="Escolher Sabores" [modal]="true" [(visible)]="visible" [style]="{ width: '40rem' }">
    <span class="p-text-secondary block mb-5">Escolha a quantidade de cada sabor desejado e adicione ao carrinho.</span>
    <p-divider></p-divider>

    <div class="flex align-items-center">
        <div class="flex justify-content-center col-2">
          <img src="/assets/bananacherry.png" height="50" class="select-none" />
        </div>
        <label for="email" class="font-semibold col-6">Banana Cherry</label>
        <p-inputNumber styleClass="inputOnDataTable"
        [min]="0"
        [(ngModel)]="value1"
        [style]="{'width': '9rem'}"
        [showButtons]="true"
        buttonLayout="horizontal"
        decrementButtonClass="p-button-secondary"
        incrementButtonClass="p-button-secondary"
        incrementButtonIcon="pi pi-plus text-sm"
        decrementButtonIcon="pi pi-minus text-sm" />
    </div>
    <p-divider></p-divider>

    <div class="flex align-items-center">
      <div class="flex justify-content-center col-2">
        <img src="/assets/banana.png" height="50" class="select-none" />
      </div>
      <label for="email" class="font-semibold col-6">Banana Ice</label>
      <p-inputNumber styleClass="inputOnDataTable"
      [min]="0"
      [(ngModel)]="value2"
      [style]="{'width': '9rem'}"
      [showButtons]="true"
      buttonLayout="horizontal"
      decrementButtonClass="p-button-secondary"
      incrementButtonClass="p-button-secondary"
      incrementButtonIcon="pi pi-plus text-sm"
      decrementButtonIcon="pi pi-minus text-sm" />
    </div>
    <p-divider></p-divider>

    <div class="flex align-items-center">
      <div class="flex justify-content-center col-2">
        <img src="/assets/blueberryice.png" height="50" class="select-none" />
      </div>
      <label for="email" class="font-semibold col-6">Blueberry Ice</label>
      <p-inputNumber styleClass="inputOnDataTable"
      [min]="0"
      [(ngModel)]="value3"
      [style]="{'width': '9rem'}"
      [showButtons]="true"
      buttonLayout="horizontal"
      decrementButtonClass="p-button-secondary"
      incrementButtonClass="p-button-secondary"
      incrementButtonIcon="pi pi-plus text-sm"
      decrementButtonIcon="pi pi-minus text-sm" />
    </div>
    <p-divider></p-divider>

    <div class="flex align-items-center">
      <div class="flex justify-content-center col-2">
        <img src="/assets/blueberrylemon.png" height="50" class="select-none" />
      </div>
      <label for="email" class="font-semibold col-6">Blueberry Lemon</label>
      <p-inputNumber styleClass="inputOnDataTable"
      [min]="0"
      [(ngModel)]="value4"
      [style]="{'width': '9rem'}"
      [showButtons]="true"
      buttonLayout="horizontal"
      decrementButtonClass="p-button-secondary"
      incrementButtonClass="p-button-secondary"
      incrementButtonIcon="pi pi-plus text-sm"
      decrementButtonIcon="pi pi-minus text-sm" />
    </div>
    <p-divider></p-divider>

    <div class="flex align-items-center">
      <div class="flex justify-content-center col-2">
        <img src="/assets/cactus.png" height="50" class="select-none" />
      </div>
      <label for="email" class="font-semibold col-6">Cactus</label>
      <p-inputNumber styleClass="inputOnDataTable"
      [min]="0"
      [(ngModel)]="value5"
      [style]="{'width': '9rem'}"
      [showButtons]="true"
      buttonLayout="horizontal"
      decrementButtonClass="p-button-secondary"
      incrementButtonClass="p-button-secondary"
      incrementButtonIcon="pi pi-plus text-sm"
      decrementButtonIcon="pi pi-minus text-sm" />
    </div>
    <p-divider></p-divider>

    <div class="flex align-items-center">
      <div class="flex justify-content-center col-2">
        <img src="/assets/grapeice.png" height="50" class="select-none" />
      </div>
      <label for="email" class="font-semibold col-6">Grape Ice</label>
      <p-inputNumber styleClass="inputOnDataTable"
      [min]="0"
      [(ngModel)]="value6"
      [style]="{'width': '9rem'}"
      [showButtons]="true"
      buttonLayout="horizontal"
      decrementButtonClass="p-button-secondary"
      incrementButtonClass="p-button-secondary"
      incrementButtonIcon="pi pi-plus text-sm"
      decrementButtonIcon="pi pi-minus text-sm" />
    </div>
    <p-divider></p-divider>
    <div class="flex align-items-center">
      <div class="flex justify-content-center col-2">
        <img src="/assets/grapefruitmint.png" height="50" class="select-none" />
      </div>
      <label for="email" class="font-semibold col-6">Grapefriut Mint</label>
      <p-inputNumber styleClass="inputOnDataTable"
      [min]="0"
      [(ngModel)]="value7"
      [style]="{'width': '9rem'}"
      [showButtons]="true"
      buttonLayout="horizontal"
      decrementButtonClass="p-button-secondary"
      incrementButtonClass="p-button-secondary"
      incrementButtonIcon="pi pi-plus text-sm"
      decrementButtonIcon="pi pi-minus text-sm" />
    </div>
    <p-divider></p-divider>
    <div class="flex align-items-center">
      <div class="flex justify-content-center col-2">
        <img src="/assets/greenapple.png" height="50" class="select-none" />
      </div>
      <label for="email" class="font-semibold col-6">Green Apple</label>
      <p-inputNumber styleClass="inputOnDataTable"
      [min]="0"
      [(ngModel)]="value8"
      [style]="{'width': '9rem'}"
      [showButtons]="true"
      buttonLayout="horizontal"
      decrementButtonClass="p-button-secondary"
      incrementButtonClass="p-button-secondary"
      incrementButtonIcon="pi pi-plus text-sm"
      decrementButtonIcon="pi pi-minus text-sm" />
    </div>
    <p-divider></p-divider>
    <div class="flex align-items-center">
      <div class="flex justify-content-center col-2">
        <img src="/assets/icymint.png" height="50" class="select-none" />
      </div>
      <label for="email" class="font-semibold col-6">Icy Mint</label>
      <p-inputNumber styleClass="inputOnDataTable"
      [min]="0"
      [(ngModel)]="value9"
      [style]="{'width': '9rem'}"
      [showButtons]="true"
      buttonLayout="horizontal"
      decrementButtonClass="p-button-secondary"
      incrementButtonClass="p-button-secondary"
      incrementButtonIcon="pi pi-plus text-sm"
      decrementButtonIcon="pi pi-minus text-sm" />
    </div>
    <p-divider></p-divider>
    <div class="flex align-items-center">
      <div class="flex justify-content-center col-2">
        <img src="/assets/menthol.png" height="50" class="select-none" />
      </div>
      <label for="email" class="font-semibold col-6">Menthol</label>
      <p-inputNumber styleClass="inputOnDataTable"
      [min]="0"
      [(ngModel)]="value10"
      [style]="{'width': '9rem'}"
      [showButtons]="true"
      buttonLayout="horizontal"
      decrementButtonClass="p-button-secondary"
      incrementButtonClass="p-button-secondary"
      incrementButtonIcon="pi pi-plus text-sm"
      decrementButtonIcon="pi pi-minus text-sm" />
    </div>
    <p-divider></p-divider>
    <div class="flex align-items-center">
      <div class="flex justify-content-center col-2">
        <img src="/assets/passion.png" height="50" class="select-none" />
      </div>
      <label for="email" class="font-semibold col-6">Passion Fruit Sour Kiwi</label>
      <p-inputNumber styleClass="inputOnDataTable"
      [min]="0"
      [(ngModel)]="value11"
      [style]="{'width': '9rem'}"
      [showButtons]="true"
      buttonLayout="horizontal"
      decrementButtonClass="p-button-secondary"
      incrementButtonClass="p-button-secondary"
      incrementButtonIcon="pi pi-plus text-sm"
      decrementButtonIcon="pi pi-minus text-sm" />
    </div>
    <p-divider></p-divider>

    <div class="flex align-items-center">
      <div class="flex justify-content-center col-2">
        <img src="/assets/strawberryice.png" height="50" class="select-none" />
      </div>
      <label for="email" class="font-semibold col-6">Strawberry Ice</label>
      <p-inputNumber styleClass="inputOnDataTable"
      [min]="0"
      [(ngModel)]="value12"
      [style]="{'width': '9rem'}"
      [showButtons]="true"
      buttonLayout="horizontal"
      decrementButtonClass="p-button-secondary"
      incrementButtonClass="p-button-secondary"
      incrementButtonIcon="pi pi-plus text-sm"
      decrementButtonIcon="pi pi-minus text-sm" />
    </div>
    <p-divider></p-divider>

    <div class="flex align-items-center">
      <div class="flex justify-content-center col-2">
        <img src="/assets/strawberrykiwi.png" height="50" class="select-none" />
      </div>
      <label for="email" class="font-semibold col-6">Strawberry Kiwi</label>
      <p-inputNumber styleClass="inputOnDataTable"
      [min]="0"
      [(ngModel)]="value13"
      [style]="{'width': '9rem'}"
      [showButtons]="true"
      buttonLayout="horizontal"
      decrementButtonClass="p-button-secondary"
      incrementButtonClass="p-button-secondary"
      incrementButtonIcon="pi pi-plus text-sm"
      decrementButtonIcon="pi pi-minus text-sm" />
    </div>
    <p-divider></p-divider>

    <div class="flex align-items-center">
      <div class="flex justify-content-center col-2">
        <img src="/assets/watermelonice.png" height="50" class="select-none" />
      </div>
      <label for="email" class="font-semibold col-6">Watermelon Ice</label>
      <p-inputNumber styleClass="inputOnDataTable"
      [min]="0"
      [(ngModel)]="value14"
      [style]="{'width': '9rem'}"
      [showButtons]="true"
      buttonLayout="horizontal"
      decrementButtonClass="p-button-secondary"
      incrementButtonClass="p-button-secondary"
      incrementButtonIcon="pi pi-plus text-sm"
      decrementButtonIcon="pi pi-minus text-sm" />
    </div>
    <p-divider></p-divider>
    <ng-template pTemplate="footer">
    <div class="flex justify-content-end mt-4">
        <p-button label="Adicionar ao Carrinho" severity="success" (click)="visible = false" />
    </div>
    </ng-template>
  </p-dialog>

  <!--? Destaques1 -->
  <div class="flex grid px-0 pt-8">
    <!--! V80--->
    <div class="flex grid col-6 align-items-center justify-content-end text-right">
      <div class="flex col-6 flex-column">
        <div class="animate__animated" data-animation="animate-fadeInUp">
          <span class="text-7xl font-bold text-gray-900">IGNITE V80</span>
        </div>
        <div class="animate__animated" data-animation="animate-fadeInLeft">
          <span class="text-5xl font-light text-gray-900">8000 puffs</span>
        </div>
        <div class="animate__animated pt-5" data-animation="animate-fadeInLeft">
          <span class="text-1xl font-light text-green-500">R$</span>
          <span class="text-6xl font-bold text-green-500">109,90</span>
        </div>
        <div class="mt-5 animate__animated" data-animation="animate-fadeIn">
          <p-button label="Escolher Sabores" iconPos="right" severity="secondary" [raised]="true" (click)="showDialog()"></p-button>
        </div>
      </div>
      <div class="flex col-6 justify-content-start animate__animated" data-animation="animate-fadeInUp">
        <img src="/assets/v80.png" height="350" class="select-none" />
      </div>
    </div>
    <!--! V150-->
    <div class="flex grid col-6 align-items-center justify-content-end text-right">
      <div class="flex col-6 flex-column">
        <div class="animate__animated" data-animation="animate-fadeInUp">
          <span class="text-7xl font-bold text-gray-900">IGNITE V150</span>
        </div>
        <div class="animate__animated" data-animation="animate-fadeInLeft">
          <span class="text-5xl font-light text-gray-900">15000 puffs</span>
        </div>
        <div class="animate__animated pt-5" data-animation="animate-fadeInLeft">
          <span class="text-1xl font-light text-yellow-500">R$</span>
          <span class="text-6xl font-bold text-yellow-500">189,90</span>
        </div>
        <div class="mt-5 animate__animated" data-animation="animate-fadeIn">
          <p-button label="Escolher Sabores" iconPos="right" severity="secondary" [raised]="true" (click)="showDialog()"></p-button>
        </div>
      </div>
      <div class="flex col-6 justify-content-start animate__animated" data-animation="animate-fadeInUp">
        <img src="/assets/v150.png" height="350" class="select-none" />
      </div>
    </div>
  </div>
  <!--? Destaques2 -->
  <div class="flex grid px-0 pt-8 justify-content-center">
    <!--! ELFBAR--->
    <div class="flex grid col-6 align-items-center justify-content-end text-right">
      <div class="flex col-6 flex-column">
        <div class="animate__animated" data-animation="animate-fadeInUp">
          <span class="text-7xl font-bold text-gray-900">ELFBAR BC10</span>
        </div>
        <div class="animate__animated" data-animation="animate-fadeInLeft">
          <span class="text-5xl font-light text-gray-900">10000 puffs</span>
        </div>
        <div class="animate__animated pt-5" data-animation="animate-fadeInLeft">
          <span class="text-1xl font-light text-cyan-500">R$</span>
          <span class="text-6xl font-bold text-cyan-500">109,90</span>
        </div>
        <div class="mt-5 animate__animated" data-animation="animate-fadeIn">
          <p-button label="Escolher Sabores" iconPos="right" severity="secondary" [raised]="true" (click)="showDialog()"></p-button>
        </div>
      </div>
      <div class="flex col-6 justify-content-start animate__animated" data-animation="animate-fadeInUp">
        <img src="/assets/bc10k.png" height="350" class="select-none" />
      </div>
    </div>
    <!--! OXBAR--->
    <div class="flex grid col-6 align-items-center justify-content-end text-right">
      <div class="flex col-6 flex-column">
        <div class="animate__animated" data-animation="animate-fadeInUp">
          <span class="text-7xl font-bold text-gray-900">OXBAR G8</span>
        </div>
        <div class="animate__animated" data-animation="animate-fadeInLeft">
          <span class="text-5xl font-light text-gray-900">8000 puffs</span>
        </div>
        <div class="animate__animated pt-5" data-animation="animate-fadeInLeft">
          <span class="text-1xl font-light text-red-500">R$</span>
          <span class="text-6xl font-bold text-red-500">109,90</span>
        </div>
        <div class="mt-5 animate__animated" data-animation="animate-fadeIn">
          <p-button label="Escolher Sabores" iconPos="right" severity="secondary" [raised]="true" (click)="showDialog()"></p-button>
        </div>
      </div>
      <div class="flex col-6 justify-content-start animate__animated" data-animation="animate-fadeInUp">
        <img src="/assets/drop.png" height="350" class="select-none" />
      </div>
    </div>
  </div>

  <!--? Hero1 -->
  <div class="flex grid col-12 justify-content-around mt-8 animate__animated z-2" data-animation="animate-fadeInRight">
    <!--! Col 1 --->
    <div class="flex card grid col-2 h-28rem w-21rem align-content-between">
      <video class="video-card" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
          <source src="/assets/v80.mp4" type="video/mp4">
      </video>
    </div>
    <!--! Col 2 --->
    <div class="flex card grid col-2 h-28rem w-21rem align-content-between">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/v150.png" height="200" class="select-none" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-9 cursor-pointer">
          <div class="flex p-2 p-fluid card absolute bg-gray-900" style="height: 2rem; width: fit-content; right: 8%; top: 7%">
            <span class="text-sm font-bold text-white">
              ESGOTADO
            </span>
          </div>
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">IGNITE V150</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">15000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start align-items-end">
            <span class="text-sm font-light text-gray-500">R$</span>
            <span class="text-xl font-bold text-gray-500">179,90</span>
          </div>
        </div>
        <div class="flex col-2">
          <p-button [disabled]="true" class="opacity-60"
            icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true" (click)="showDialog()">
          </p-button>
        </div>
      </div>
    </div>
    <!--! Col 3 --->
    <div class="flex card grid col-2 h-28rem w-21rem align-content-between">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/v80.png" height="200" class="select-none" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-9 cursor-pointer">
          <div class="flex p-2 p-fluid card absolute bg-green-500" style="height: 2rem; width: fit-content; right: 8%; top: 7%">
            <span class="text-sm font-bold text-white">
              -R$20,00
            </span>
          </div>
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">IGNITE V80</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">8000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start">
            <span class="text-sm font-light text-green-500 align-self-end">
              R$<span class="text-xl font-bold text-green-500 align-self-end">109,90
                  <span class="text-sm font-bold text-gray-500 align-self-center"><s>R$ 129,90</s></span>
                </span>
            </span>
          </div>
        </div>
        <div class="flex col-2">
          <p-button icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true" (click)="showDialog()"></p-button>
        </div>
      </div>
    </div>
    <!--! Col 4 --->
    <div class="flex card grid col-2 h-28rem w-21rem align-content-between">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/v50.png" height="200" class="select-none" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-9 cursor-pointer">
          <!-- <div class="flex p-2 p-fluid card absolute bg-orange-400" style="height: 2rem; width: fit-content; right: 8%; top: 7%">
            <span class="text-sm font-bold text-white">
              POUCAS UNIDADES
            </span>
          </div> -->
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">IGNITE V50</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">5000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start align-items-end">
            <span class="text-sm font-light text-green-500 align-self-end">
              R$<span class="text-xl font-bold text-green-500 align-self-end">89,90</span>
            </span>
          </div>
        </div>
        <div class="flex col-2">
          <p-button icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true" (click)="showDialog()"
            pTooltip="Escolher Sabor"
            tooltipPosition="top"
            placeholder="Left"
            tooltipStyleClass="text-sm"
            [showDelay]="1000">
          </p-button>
        </div>
      </div>

    </div>
    <!--! Col 5 --->
    <div class="flex card grid col-2 h-28rem w-21rem align-content-between">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/v50.png" height="200" class="select-none" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-9 cursor-pointer">
          <!-- <div class="flex p-2 p-fluid card absolute bg-orange-400" style="height: 2rem; width: fit-content; right: 8%; top: 7%">
            <span class="text-sm font-bold text-white">
              POUCAS UNIDADES
            </span>
          </div> -->
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">IGNITE V50</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">5000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start align-items-end">
            <span class="text-sm font-light text-green-500 align-self-end">
              R$<span class="text-xl font-bold text-green-500 align-self-end">89,90</span>
            </span>
          </div>
        </div>
        <div class="flex col-2">
          <p-button icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true" (click)="showDialog()"></p-button>
        </div>
      </div>

    </div>
  </div>
  <!--? Hero2 -->
  <div class="flex grid col-12 mt-2 justify-content-around animate__animated z-1" data-animation="animate-fadeInLeft">
    <!--! Col 1 --->
    <div class="flex card grid col-2 h-28rem w-21rem align-content-between">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/drop.png" height="200" class="select-none" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-9 cursor-pointer">
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">OXBAR G8000</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">8000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start align-items-end">
            <span class="text-sm font-light text-green-500 align-self-end">
              R$<span class="text-xl font-bold text-green-500 align-self-end">89,90</span>
            </span>
          </div>
        </div>
        <div class="flex col-2">
          <p-button icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true" (click)="showDialog()"></p-button>
        </div>
      </div>
    </div>
    <!--! Col 2 --->
    <div class="flex card grid col-2 h-28rem w-21rem align-content-between">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/magic.png" height="170" class="select-none" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-9 cursor-pointer">
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">MAGIC MAZE PRO</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">10000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start align-items-end">
            <span class="text-sm font-light text-green-500 align-self-end">
              R$<span class="text-xl font-bold text-green-500 align-self-end">89,90</span>
            </span>
          </div>
        </div>
        <div class="flex col-2">
          <p-button icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true" (click)="showDialog()"></p-button>
        </div>
      </div>
    </div>
    <!--! Col 3 --->
    <div class="flex card grid col-2 h-28rem w-21rem align-content-between">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/magic.png" height="170" class="select-none" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-9 cursor-pointer">
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">MAGIC MAZE PRO</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">10000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start align-items-end">
            <span class="text-sm font-light text-green-500 align-self-end">
              R$<span class="text-xl font-bold text-green-500 align-self-end">89,90</span>
            </span>
          </div>
        </div>
        <div class="flex col-2">
          <p-button icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true" (click)="showDialog()"></p-button>
        </div>
      </div>
    </div>
    <!--! Col 4 --->
    <div class="flex card grid col-2 h-28rem align-content-between" style="width: 43.1rem;">
      <video class="video-card" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
          <source src="/assets/v150.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  <!--? Hero3 -->
  <div class="flex grid col-12 mt-2 justify-content-around animate__animated z-0" data-animation="animate-fadeInRight">
    <!--! Col 1 --->
    <div class="flex card grid col-2 h-28rem w-21rem align-content-between">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/ew9k.png" height="200" class="select-none" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-8 cursor-pointer">
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">ELFBAR EW</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">18000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start align-items-end">
            <span class="text-sm font-light text-green-500 align-self-end">
              R$<span class="text-xl font-bold text-green-500 align-self-end">89,90</span>
            </span>
          </div>
        </div>
        <div class="flex col-2">
          <p-button icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true" (click)="showDialog()"></p-button>
        </div>
      </div>

    </div>
    <!--! Col 2 --->
    <div class="flex card grid col-2 h-28rem align-content-between" style="width: 43.1rem;">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/bc5k.png" height="220" class="select-none" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-6 cursor-pointer">
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">ELFBAR BC5000 5 PACK</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">5000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start align-items-end">
            <span class="text-sm font-light text-green-500 align-self-end">
              R$<span class="text-xl font-bold text-green-500 align-self-end">89,90</span>
            </span>
          </div>
        </div>
        <div class="flex col-2 justify-content-end">
          <p-button icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true" (click)="showDialog()"></p-button>
        </div>
      </div>
    </div>
    <!--! Col 3 --->
    <div class="flex card grid col-2 h-28rem w-21rem align-content-between">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/bc10k.png" height="200" class="select-none" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-9 cursor-pointer">
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">ELFBAR BC10000</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">10000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start align-items-end">
            <span class="text-sm font-light text-green-500 align-self-end">
              R$<span class="text-xl font-bold text-green-500 align-self-end">89,90</span>
            </span>
          </div>
        </div>
        <div class="flex col-2">
          <p-button icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true" (click)="showDialog()"></p-button>
        </div>
      </div>
    </div>
    <!--! Col 4 --->
    <div class="flex card grid col-2 h-28rem w-21rem align-content-between">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/bc10k.png" height="200" class="select-none" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-9 cursor-pointer">
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">ELFBAR BC10000</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">10000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start align-items-end">
            <span class="text-sm font-light text-green-500 align-self-end">
              R$<span class="text-xl font-bold text-green-500 align-self-end">89,90</span>
            </span>
          </div>
        </div>
        <div class="flex col-2">
          <p-button icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true" (click)="showDialog()"></p-button>
        </div>
      </div>
    </div>
  </div>

  <!--? Banner Promo -->
  <div class="flex grid col-12 mt-2 justify-content-around">
    <div class="flex card grid col-12 align-content-between animate__animated" data-animation="animate-fadeIn" style="height: 28rem; width: 110rem;">
      <!--! Left -->
      <div class="flex col-5 flex-column p-8 grid align-items-start justify-content-center z-1">
        <span class="text-2xl font-light text-gray-900 animate__animated z-1">
          ISSO É
        </span>
        <img src="/assets/bytewave.png" height="15" class="select-none z-1" />
      </div>
      <!--! Center -->
      <div class="flex col-2 flex-column grid" style="top: 30%;">
        <div class="flex justify-content-center">
          <img src="/assets/promox.png" height="80" width="200" class="select-none mt-4 z-1" />
        </div>
        <div class="z-1 mt-3 flex align-items-center justify-content-center">
          <span class="text-2xl mr-2 font-bold text-gray-900 animate__animated z-1">
            DE
          </span>
          <span class="text-4xl font-light text-gray-900 animate__animated z-1">
            109,90
          </span>
        </div>
        <div class="z-1 flex align-items-center justify-content-center">
          <span class="text-4xl mr-2 font-bold text-gray-900 animate__animated z-1">
            POR
          </span>
          <span class="text-6xl font-bold text-white bg-green-500 animate__animated z-1">
            89,90
          </span>
        </div>
        <span class="flex justify-content-center text-xl mt-4 font-light text-gray-900 animate__animated z-1">
          SOMENTE ESSA SEMANA
        </span>
        <div class="flex mt-5 z-1 justify-content-center">
          <p-button label="Aproveitar Desconto" iconPos="right" severity="secondary" [raised]="true" (click)="showDialog()"></p-button>
        </div>
      </div>
      <!--! Right -->
      <div class="flex col-5 flex-column grid align-items-end p-8 justify-content-center z-1">
        <div>
          <span class="text-6xl font-bold text-white bg-red-500 animate__animated z-1">
            <span class="text-4xl font-bold text-white animate__animated z-1">R$
            </span> 20,00
          </span>
        </div>
        <div>
          <span class="text-4xl font-light text-gray-900 animate__animated">
            DE DESCONTO
          </span>
        </div>
      </div>

      <img src="/assets/oxbarwpp.png" width="115%" class="select-none absolute z-0" style="top: 0px;" />
    </div>
  </div>
</div>
