<!--! Banner -->
<div class="flex">
  <!--? Texto -->
  <div class="absolute right-0" style="margin-right: 20rem; top: 40%;">
    <span class="text-5xl font-normal text-gray-900 animate__animated animate__fadeIn animate__delay-1s">
      A MELHOR
    </span>
    <span class="text-5xl font-bold text-gray-900 animate__animated animate__fadeIn animate__delay-2s">
      EXPERIÊNCIA <br>
    </span>
    <span class="text-5xl font-normal text-gray-900 animate__animated animate__fadeIn animate__delay-3s">
      E
    </span>
    <span class="text-5xl font-bold text-gray-900 animate__animated animate__fadeIn animate__delay-3s">
      MENORES
    </span>
    <span class="text-5xl font-bold text-gray-900 animate__animated animate__fadeIn animate__delay-4s">
      PREÇOS.
    </span>
    <div class="flex mt-6 align-items-center">
      <img src="/assets/bytewave.png" height="15" class="select-none animate__animated animate__fadeInUp animate__delay-4s" />
    </div>
  </div>
  <!--? Fundo -->
  <div class="video-box">
    <video muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" width="100%">
        <source src="/assets/start.mp4" type="video/mp4">
    </video>
  </div>
  <!--? Seta -->
  <div class="fixed-roll animate__animated animate__fadeInDown animate__delay-4s">
    <div class="animate__animated" data-animation="animate-fadeInUp2">
      <p-button icon="icon-chevron-down" class="animate__animated" [disabled]="true" [link]="true" />
    </div>
  </div>
</div>

<!--! MAIN -->
<div class="layout-main-container flex">

  <!--? DialogV80 -->
  <p-dialog header="Escolher Sabores" [modal]="true" [(visible)]="visibleV80" [style]="{ width: '40rem' }">
    <span class="p-text-secondary block mb-5">Escolha a quantidade de cada sabor desejado e adicione ao carrinho.</span>
    <p-divider></p-divider>
    <app-sabores [sabor]="'Banana Cherry'" [img]="'/assets/bananacherry.png'" [favorito]="true"></app-sabores>
    <app-sabores [sabor]="'Banana Ice'" [img]="'/assets/banana.png'" [favorito]="false"></app-sabores>
    <app-sabores [sabor]="'Blueberry Ice'" [img]="'/assets/blueberryice.png'" [favorito]="false"></app-sabores>
    <app-sabores [sabor]="'Blueberry Lemon'" [img]="'/assets/blueberrylemon.png'" [favorito]="false"></app-sabores>
    <app-sabores [sabor]="'Cactus'" [img]="'/assets/cactus.png'" [favorito]="false"></app-sabores>
    <app-sabores [sabor]="'Grape Ice'" [img]="'/assets/grapeice.png'" [favorito]="false"></app-sabores>
    <app-sabores [sabor]="'Grapefriut Mint'" [img]="'/assets/grapefruitmint.png'" [favorito]="false"></app-sabores>
    <app-sabores [sabor]="'Green Apple'" [img]="'/assets/greenapple.png'" [favorito]="false"></app-sabores>
    <app-sabores [sabor]="'Icy Mint'" [img]="'/assets/icymint.png'" [favorito]="false"></app-sabores>
    <app-sabores [sabor]="'Menthol'" [img]="'/assets/menthol.png'" [favorito]="false"></app-sabores>
    <app-sabores [sabor]="'Passion Fruit Sour Kiwi'" [img]="'/assets/passion.png'" [favorito]="false"></app-sabores>
    <app-sabores [sabor]="'Strawberry Ice'" [img]="'/assets/strawberryice.png'" [favorito]="false"></app-sabores>
    <app-sabores [sabor]="'Strawberry Kiwi'" [img]="'/assets/strawberrykiwi.png'" [favorito]="false"></app-sabores>
    <app-sabores [sabor]="'Watermelon Ice'" [img]="'/assets/watermelonice.png'" [favorito]="false"></app-sabores>
    <ng-template pTemplate="footer">
    <div class="flex justify-content-end mt-4">
        <p-button label="Adicionar ao Carrinho" severity="success" (click)="visibleV80 = false" />
    </div>
    </ng-template>
  </p-dialog>

  <!--? DialogV150 -->
  <p-dialog header="Escolher Sabores" [modal]="true" [(visible)]="visibleV150" [style]="{ width: '40rem' }">
    <span class="p-text-secondary block mb-5">Escolha a quantidade de cada sabor desejado e adicione ao carrinho.</span>
    <p-divider></p-divider>
    <app-sabores [sabor]="'Banana Cherry'" [img]="'/assets/bananacherry.png'" [favorito]="true"></app-sabores>
    <app-sabores [sabor]="'Banana Ice'" [img]="'/assets/banana.png'" [favorito]="false"></app-sabores>
    <app-sabores [sabor]="'Blueberry Ice'" [img]="'/assets/blueberryice.png'" [favorito]="true"></app-sabores>
    <app-sabores [sabor]="'Blueberry Lemon'" [img]="'/assets/blueberrylemon.png'" [favorito]="true"></app-sabores>
    <ng-template pTemplate="footer">
    <div class="flex justify-content-end mt-4">
        <p-button label="Adicionar ao Carrinho" severity="success" (click)="visibleV150 = false" />
    </div>
    </ng-template>
  </p-dialog>

  <!--? Destaques1 -->
  <div class="flex grid px-0 pt-8 mb-5 animate__animated" data-animation="animate-fadeIn">
    <div class="flex grid col-12 justify-content-start text-left">
      <span class="text-3xl font-bold text-gray-900">
        Mais Vendidos
      </span>
    </div>
    <p-divider class="flex col-12"></p-divider>
    <!--! V80--->
    <div class="flex grid col-4 align-items-center justify-content-center text-left">
      <div class="flex col-6 justify-content-start animate__animated" data-animation="animate-fadeInUp">
        <img src="/assets/V80.png" height="280" class="select-none" />
      </div>
      <div class="flex col-6 flex-column">
        <div class="animate__animated" data-animation="animate-fadeInUp">
          <span class="text-5xl font-bold text-gray-900">IGNITE V80</span>
        </div>
        <div class="animate__animated" data-animation="animate-fadeInLeft">
          <span class="text-4xl font-light text-gray-900">8000 puffs</span>
        </div>
        <div class="animate__animated pt-4" data-animation="animate-fadeInLeft">
          <span class="text-1xl font-light text-green-500">R$</span>
          <span class="text-4xl font-bold text-green-500">109,90</span>
        </div>
        <div class="mt-5 animate__animated" data-animation="animate-fadeIn">
          <p-button label="Escolher Sabores" iconPos="right" severity="secondary" [raised]="true" (click)="showV80()"></p-button>
        </div>
      </div>
    </div>
    <!--! V150-->
    <div class="flex grid col-4 align-items-center justify-content-center text-left">
      <div class="flex col-6 justify-content-start animate__animated" data-animation="animate-fadeInUp">
        <img src="/assets/LostMary.png" height="280" class="select-none" />
      </div>
      <div class="flex col-6 flex-column">
        <div class="animate__animated" data-animation="animate-fadeInUp">
          <span class="text-5xl font-bold text-gray-900">LOST MARY</span>
        </div>
        <div class="animate__animated" data-animation="animate-fadeInLeft">
          <span class="text-4xl font-light text-gray-900">10000 puffs</span>
        </div>
        <div class="animate__animated pt-4" data-animation="animate-fadeInLeft">
          <span class="text-1xl font-light text-green-500">R$</span>
          <span class="text-4xl font-bold text-green-500">89,90</span>
        </div>
        <div class="mt-5 animate__animated" data-animation="animate-fadeIn">
          <p-button label="Escolher Sabores" iconPos="right" severity="secondary" [raised]="true" (click)="showV150()"></p-button>
        </div>
      </div>
    </div>
    <!--! ELFBAR--->
    <div class="flex grid col-4 align-items-center justify-content-center text-left">
      <div class="flex col-6 justify-content-start animate__animated" data-animation="animate-fadeInUp">
        <img src="/assets/Oxbar.png" height="280" class="select-none" />
      </div>
      <div class="flex col-6 flex-column">
        <div class="animate__animated" data-animation="animate-fadeInUp">
          <span class="text-5xl font-bold text-gray-900">OXBAR</span>
        </div>
        <div class="animate__animated" data-animation="animate-fadeInLeft">
          <span class="text-4xl font-light text-gray-900">8000 puffs</span>
        </div>
        <div class="animate__animated pt-4" data-animation="animate-fadeInLeft">
          <span class="text-1xl font-light text-green-500">R$</span>
          <span class="text-4xl font-bold text-green-500">89,90</span>
        </div>
        <div class="mt-5 animate__animated" data-animation="animate-fadeIn">
          <p-button label="Escolher Sabores" iconPos="right" severity="secondary" [raised]="true"></p-button>
        </div>
      </div>
    </div>
  </div>
  <p-divider></p-divider>

  <!--? Banner Promo -->
  <div class="flex grid col-12 mt-3 justify-content-around">
    <div class="flex card grid col-12 p-0" style="height: 17rem">
      <img src="/assets/bannerdesconto.png" height="100%"/>
    </div>
    <!-- <div class="absolute mt" style="margin-top: 15rem; margin-left: 58rem;">
      <p-button label="Aproveitar Desconto" iconPos="right" severity="secondary" class="shadow-3" [raised]="true"></p-button>
    </div> -->
  </div>

  <!--? Hero1 -->
  <div class="flex grid col-12 justify-content-around mt-5">
    <!--! Col 1 --->
    <div class="flex card grid col-2 h-28rem w-21rem align-content-between">
      <video class="video-card" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
          <source src="/assets/v80.mp4" type="video/mp4">
      </video>
    </div>
    <!--! Col 2 --->
    <div class="flex card grid col-2 h-28rem w-21rem align-content-between">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/V80.png" height="200" class="select-none" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-9 cursor-pointer">
          <div class="flex p-2 p-fluid card absolute bg-green-500" style="height: 2rem; width: fit-content; right: 8%; top: 7%">
            <span class="text-sm font-bold text-white">
              R$20,00 OFF
            </span>
          </div>
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">IGNITE V80</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">8000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start">
            <span class="text-sm font-light text-green-500 align-self-end">
              R$<span class="text-xl font-bold text-green-500 align-self-end">109,90
                  <span class="text-sm font-bold text-gray-500 align-self-center"><s>R$ 129,90</s></span>
                </span>
            </span>
          </div>
        </div>
        <div class="flex col-2">
          <p-button icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true"></p-button>
        </div>
      </div>
    </div>
    <!--! Col 3 --->
    <div class="flex card grid col-2 h-28rem w-21rem align-content-between">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/Oxbar.png" height="200" class="select-none" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-9 cursor-pointer">
          <div class="flex p-2 p-fluid card absolute bg-orange-400" style="height: 2rem; width: fit-content; right: 8%; top: 7%">
            <span class="text-sm font-bold text-white">
              POUCAS UNIDADES
            </span>
          </div>
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">OXBAR G8000</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">8000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start align-items-end">
            <span class="text-sm font-light text-green-500 align-self-end">
              R$<span class="text-xl font-bold text-green-500 align-self-end">109,90</span>
            </span>
          </div>
        </div>
        <div class="flex col-2">
          <p-button icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true"
            pTooltip="Escolher Sabor"
            tooltipPosition="top"
            placeholder="Left"
            tooltipStyleClass="text-sm"
            [showDelay]="1000">
          </p-button>
        </div>
      </div>

    </div>
    <!--! Col 4 --->
    <div class="flex card grid col-2 h-28rem w-21rem align-content-between">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/LostMary.png" height="200" class="select-none" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-9 cursor-pointer">
          <!-- <div class="flex p-2 p-fluid card absolute bg-orange-400" style="height: 2rem; width: fit-content; right: 8%; top: 7%">
            <span class="text-sm font-bold text-white">
              POUCAS UNIDADES
            </span>
          </div> -->
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">LOSTMARY MO</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">10000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start align-items-end">
            <span class="text-sm font-light text-green-500 align-self-end">
              R$<span class="text-xl font-bold text-green-500 align-self-end">109,90</span>
            </span>
          </div>
        </div>
        <div class="flex col-2">
          <p-button icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true"></p-button>
        </div>
      </div>

    </div>
    <!--! Col 5 --->
    <div class="flex card grid col-2 h-28rem w-21rem align-content-between">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/Funky.png" height="200" class="select-none" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-9 cursor-pointer">
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">FUNKY REPUBLIC</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">7000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start align-items-end">
            <span class="text-sm font-light text-green-500 align-self-end">
              R$<span class="text-xl font-bold text-green-500 align-self-end">89,90</span>
            </span>
          </div>
        </div>
        <div class="flex col-2">
          <p-button icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true"></p-button>
        </div>
      </div>
    </div>
  </div>
  <!--? Hero2 -->
  <div class="flex grid col-12 mt-2 justify-content-around">
    <!--! Col 1 --->
    <div class="flex card grid col-2 h-28rem w-21rem align-content-between">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/ew9k.png" height="200" class="select-none" style="opacity: 0.6;" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-9 cursor-pointer">
          <div class="flex p-2 p-fluid card absolute bg-gray-900" style="height: 2rem; width: fit-content; right: 8%; top: 7%">
            <span class="text-sm font-bold text-white">
              ESGOTADO
            </span>
          </div>
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">ELFBAR EW</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">18000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start align-items-end">
            <span class="text-sm font-light text-gray-500">R$</span>
            <span class="text-xl font-bold text-gray-500">169,90</span>
          </div>
        </div>
        <div class="flex col-2">
          <p-button [disabled]="true" class="opacity-60"
            icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true">
          </p-button>
        </div>
      </div>
    </div>
    <!--! Col 2 --->
    <div class="flex card grid col-2 h-28rem w-21rem align-content-between">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/bc10k.png" height="200" class="select-none" style="opacity: 0.6;" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-9 cursor-pointer">
          <div class="flex p-2 p-fluid card absolute bg-gray-900" style="height: 2rem; width: fit-content; right: 8%; top: 7%">
            <span class="text-sm font-bold text-white">
              ESGOTADO
            </span>
          </div>
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">ELFBAR BC 10K</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">10000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start align-items-end">
            <span class="text-sm font-light text-gray-500">R$</span>
            <span class="text-xl font-bold text-gray-500">99,90</span>
          </div>
        </div>
        <div class="flex col-2">
          <p-button [disabled]="true" class="opacity-60"
            icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true">
          </p-button>
        </div>
      </div>
    </div>
    <!--! Col 3 --->
    <div class="flex card grid col-2 h-28rem w-21rem align-content-between">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/v150.png" height="200" class="select-none" style="opacity: 0.6;" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-9 cursor-pointer">
          <div class="flex p-2 p-fluid card absolute bg-gray-900" style="height: 2rem; width: fit-content; right: 8%; top: 7%">
            <span class="text-sm font-bold text-white">
              ESGOTADO
            </span>
          </div>
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">IGNITE V150</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">15000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start align-items-end">
            <span class="text-sm font-light text-gray-500">R$</span>
            <span class="text-xl font-bold text-gray-500">159,90</span>
          </div>
        </div>
        <div class="flex col-2">
          <p-button [disabled]="true" class="opacity-60"
            icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true">
          </p-button>
        </div>
      </div>
    </div>

    <!--! Col 4 --->
    <div class="flex card grid col-2 h-28rem align-content-between" style="width: 43.1rem;">
      <video class="video-card" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
          <source src="/assets/v150.mp4" type="video/mp4">
      </video>
    </div>
  </div>

  <!--? Hero3 -->
  <!-- <div class="flex grid col-12 mt-2 justify-content-around">

    <div class="flex card grid col-2 h-28rem w-21rem align-content-between">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/ew9k.png" height="200" class="select-none" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-8 cursor-pointer">
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">ELFBAR EW</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">18000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start align-items-end">
            <span class="text-sm font-light text-green-500 align-self-end">
              R$<span class="text-xl font-bold text-green-500 align-self-end">89,90</span>
            </span>
          </div>
        </div>
        <div class="flex col-2">
          <p-button icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true"></p-button>
        </div>
      </div>

    </div>

    <div class="flex card grid col-2 h-28rem align-content-between" style="width: 43.1rem;">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/bc5k.png" height="220" class="select-none" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-6 cursor-pointer">
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">ELFBAR BC5000 5 PACK</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">5000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start align-items-end">
            <span class="text-sm font-light text-green-500 align-self-end">
              R$<span class="text-xl font-bold text-green-500 align-self-end">89,90</span>
            </span>
          </div>
        </div>
        <div class="flex col-2 justify-content-end">
          <p-button icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true"></p-button>
        </div>
      </div>
    </div>

    <div class="flex card grid col-2 h-28rem w-21rem align-content-between">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/bc10k.png" height="200" class="select-none" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-9 cursor-pointer">
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">ELFBAR BC10000</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">10000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start align-items-end">
            <span class="text-sm font-light text-green-500 align-self-end">
              R$<span class="text-xl font-bold text-green-500 align-self-end">89,90</span>
            </span>
          </div>
        </div>
        <div class="flex col-2">
          <p-button icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true"></p-button>
        </div>
      </div>
    </div>

    <div class="flex card grid col-2 h-28rem w-21rem align-content-between">
      <div class="flex col-12 justify-content-center cursor-pointer">
        <img src="/assets/bc10k.png" height="200" class="select-none" />
      </div>

      <div class="flex grid col-12 align-items-end justify-content-between px-3">
        <div class="flex grid flex-column justify-content-start col-9 cursor-pointer">
          <div class="flex col-12 p-0 justify-content-start">
            <span class="text-lg font-bold text-gray-800">ELFBAR BC10000</span>
          </div>
          <div class="flex col-12 p-0 justify-content-start pt-0">
            <span class="text-md font-light text-gray-800">10000 puffs</span>
          </div>
          <div class="flex col-12 p-0 pt-2 justify-content-start align-items-end">
            <span class="text-sm font-light text-green-500 align-self-end">
              R$<span class="text-xl font-bold text-green-500 align-self-end">89,90</span>
            </span>
          </div>
        </div>
        <div class="flex col-2">
          <p-button icon="icon-shopping-cart" iconPos="right" severity="secondary" size="small" [raised]="true"></p-button>
        </div>
      </div>
    </div>
  </div> -->

</div>
