.grid {
  justify-content: center;
}

.card {
  background: var(--gray-100);
  border: none;
  padding: 2rem;
  border-radius: 12px;
}

::ng-deep .p-button.p-button-secondary, .p-buttonset.p-button-secondary > .p-button, .p-splitbutton.p-button-secondary > .p-button {
  color: #ffffff;
  background: #1d1d1d;
  border: 1px solid #64748B;
}
