<div class="layout-main-container flex">

  <div class="flex justify-content-between px-1 mt-5">
    <div class="flex ml-8">
      <div class="flex align-items-center">
        <img src="/assets/bytewave.png" height="40" class="select-none" />
      </div>
    </div>

    <div class="flex mr-8">
      <div class="card p-2 px-3 m-1 border-none surface-100 cursor-pointer">
        <div class="flex">
            <span class="text-bluegray-900 font-bold">Todos</span>
        </div>
      </div>

      <div class="card p-2 px-3 m-1 border-none surface-100 cursor-pointer">
          <div class="flex">
              <span class="text-bluegray-900 font-bold">Ignite</span>
          </div>
      </div>

      <div class="card p-2 px-3 m-1 border-none surface-100 cursor-pointer">
          <div class="flex">
              <span class="text-bluegray-900 font-bold">Elfbar</span>
          </div>
      </div>

      <div class="card p-2 px-3 m-1 border-none surface-100 cursor-pointer">
        <div class="flex">
            <span class="text-bluegray-900 font-bold">Lost Mary</span>
        </div>
      </div>

      <div class="card p-2 px-3 m-1 border-none surface-100 cursor-pointer">
        <div class="flex">
            <span class="text-bluegray-900 font-bold">Oxbar</span>
        </div>
      </div>

      <p-button label="Pedir Agora" class="ml-5" iconPos="right" [raised]="true" size="small" routerLink="new">
      </p-button>
    </div>
  </div>

  <div class="flex">
    <div class="card mt-8 col-4">
    </div>
    <div class="card mt-8 col-3">
      <span class="text-7xl font-bold text-gray-900">
        Ignite
      </span><br>
      <span class="text-5xl font-medium text-gray-900">
        8000 puffs
      </span><br><br><br>
      <span class="text-1xl font-bold text-indigo-500">
        R$
      </span>
      <span class="text-5xl font-bold text-indigo-500">
        109,90
      </span><br><br><br>
      <p-button label="Escolher Sabores" iconPos="right" severity="secondary" [raised]="true" size="small" routerLink="new">
      </p-button>
    </div>
    <div class="card mt-8 col-2">
      <img src="/assets/pod.png" height="250" class="select-none" />
    </div>
  </div>
  <p-divider></p-divider>
  <div class="flex">
    <div class="card mt-8 col-4">
    </div>
    <div class="card mt-8 col-2">
      <img src="/assets/oxbar.png" height="250" class="select-none" />
    </div>

    <div class="card mt-8 col-2 text-right">
      <span class="text-7xl font-bold text-gray-900">
        Oxbar
      </span><br>
      <span class="text-5xl font-medium text-gray-900">
        8000 puffs
      </span><br><br><br>
      <span class="text-1xl font-bold text-indigo-500">
        R$
      </span>
      <span class="text-5xl font-bold text-indigo-500">
        99,90
      </span><br><br><br>
      <p-button label="Escolher Sabores" iconPos="right" severity="secondary" [raised]="true" size="small" routerLink="new">
      </p-button>
    </div>
  </div>
  <p-divider></p-divider>
  <div class="flex">
    <div class="card mt-8 col-4">
    </div>
    <div class="card mt-8 col-3">
      <span class="text-7xl font-bold text-gray-900">
        Elfbar
      </span><br>
      <span class="text-5xl font-medium text-gray-900">
        8000 puffs
      </span><br><br><br>
      <span class="text-1xl font-bold text-indigo-500">
        R$
      </span>
      <span class="text-5xl font-bold text-indigo-500">
        119,90
      </span><br><br><br>
      <p-button label="Escolher Sabores" iconPos="right" severity="secondary" [raised]="true" size="small" routerLink="new">
      </p-button>
    </div>
    <div class="card mt-8 col-2">
      <img src="/assets/elfbar.png" height="250" class="select-none" />
    </div>
  </div>

</div>
